.container{
    
    display: flex;
    padding: 1rem;
    width: 20rem;
    flex-direction: column;
   margin-inline: auto;
   background-color: lightblue;
}

.type{
    display: flex;
}
.inputText{
    flex-grow: 1;
}
.button{
    width: 40px;
    display: flex;
}

.message{
    background-color: lightblue;
    display: flex;
    flex-grow: 1;
}

.message img{
    width: 40px;
    height: 40px;
}

.message p{
    flex-grow: 1;
}

.message p[contenteditable="true"]{
    background-color: darkseagreen;
}

.message p[contenteditable="false"]{
    background-color: none;
}